<div class="container background">
  <div class="content">
    <div>
      <% if @all_data_imported.count == 0 %>
          <%= render 'layouts/empty' %>
      <% else %>
          <%= form_for(@value, method: :get , url: file_imports_historique_path) do |f| %>
              <label>Please select a reporting :
                <%= select_tag 'file_name_historic', options_for_select(FileName.order(id: :desc).collect{|u| ["#{u.file_name}", u.id,] },selected: @selected_file_historic),include_blank: true, onchange: "this.form.submit();" %>
              </label>
          <% end %>
          <table class="col-lg-12" id="t01">
            <thead>
            <tr>
              <th>First name</th>
              <th>Last name</th>
              <th>Mail</th>
              <th>Error</th>
            </tr>
            </thead>
            <tbody>
            <% @all_data_imported.each do |data| %>
                <tr>
                  <td><%= data.first_name %></td>
                  <td><%= data.last_name %></td>
                  <td><%= data.email %></td>
                  <td><%= data.refused_reason %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
      <% end %>
    </div>
  </div>
</div>