<h1>All data imported</h1>
<p>Here all the data found in the file </p>
<table>
  <thead>
  <tr>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Email</th>
</tr>
  </thead>
  <tbody>
  <% @data_imported.each do |data| %>
      <tr>
        <td><%= data.first_name %></td>
        <td><%= data.last_name %></td>
        <td><%= data.email %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= form_tag import_file_imports_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
<% end %>
