<!DOCTYPE html>
<html>
<head>
  <title>FileUploader</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default ">
  <div class="container my-navbar">
    <div class="row pull-right">
      <%= link_to "Home", root_path, class: 'btn btn-primary' %>
      <%= link_to "Historique", file_imports_historique_path, class: 'btn btn-primary' %>
    </div>
  </div>
</nav>
<%= yield %>
</body>
</html>
